<span class="mailsafe_contact">
  <script type="text/javascript">
    Rot13.write('<n uer'+'s="znv');
    Rot13.write('ygb:'+'z@zn'+'egva');
    Rot13.write('-thq'+'r.p'+'bz">');  
  </script>
  m&#64;martin&#45;gude&#46;com
<!--  <span style="display: none;">This is a Spamsafe implemented email address. Please activate css. </span>m<span style="display: none;">huhw.esns</span>&#64;mart<span style="display: none;">werew</span>in-g<span style="display: none;">dffs3e</span>ud
<span style="display: none;">jiodnof</span>e.com-->
<script type="text/javascript">
    Rot13.write('</n>');
</script>
</span>