<div class="row">
    <div class="seven columns offset-by-two">
        <h3>Contact</h3>
    </div>
</div>
<div class="row">  <div class="two columns offset-by-two">
      <p class="job">Postal Address</p>
  </div>
  <div class="five columns">
      <p>
        Postbox 46287X<br /> 11516 Berlin <br /> Germany</p>

    </div>
</div>

<div class="row">  <div class="two columns offset-by-two">
      <p class="job">Email</p>
  </div>
  <div class="five columns">

          <p>
          <script type="text/javascript">
              Rot13.write('<n uers="znvygb:z@znegva-thqr.pbz">z@znegva-thqr.pbz</n>');
          </script>
          <noscript>
              <span class="mailsafe">spamprotected.</span>m<span class="mailsafe">huhw.esns</span>@mart<span class="mailsafe">werew</span>in-g<span class="mailsafe">dffs3e</span>ud<span class="mailsafe">jiodnof</span>e.com
          </noscript>
        </p>
    </div>
</div>
