<div class="row">
    <div class="seven columns offset-by-two">
        <h1>Martin Gude</h1>
    </div>
</div>
<div class="row">
    <div class="seven columns offset-by-two">
        <p class="para big">
            Experience Strategist, Product Manager, and Agile Enthusiast
        </p>
    </div>
    <div class="three columns small">
        &nbsp;
    </div>
</div>
<div class="row" style="margin-top: 50px; margin-bottom: 75px;">
    <div class="seven columns offset-by-two">
        <p>
            <img srcset="/images/mgu2x.jpg?{{ timestamp }} 2x, /images/mgu1x.jpg?{{ timestamp  }} 1x" src="/images/mgu1x.jpg?{{ timestamp  }}" style="width: 100%; height: auto;" alt="Photo Martin Gude">
        </p>
    </div>
</div>
