<div class="row">
    <div class="seven columns offset-by-two">
        <h3>Honorary appointments</h3>
    </div>
</div>

{% for item in site.data.honorary %}
<div class="row items {% cycle 'odd', 'even' %} {% if forloop.first == true %} first {% endif %} job_item">
    <div class="two columns">
        <p class="date">{% if item.end-date %} <span>{{ item.start-date }}</span> – <span>{{ item.end-date }}</span> {% else %} since <span>{{ item.start-date }}</span> {% endif %}</p>
    </div>
    <div class="two columns company">
        <p class="company">{% if item.organisation-url %} <a href="{{item.organisation-url}}">{{item.organisation}}</a> {% else %} {{item.organisation}} {% endif %}</p>
    </div>
    <div class="five columns">
        <p class="job">{{item.title}}</p>

        {% for piece in item.content %}
        <p>{{ piece.text }}</p>
        {% endfor %}

    </div>
</div>
{% endfor %}
