<div class="row">
    <div class="seven columns offset-by-two">
        <h3>Profile</h3>
    </div>
</div>
<div class="row">
    <div class="seven columns offset-by-two">
        <p>
            My name is Martin Gude. I am an Experience Strategist, Product Manager, and Agile Enthusiast. I help people and teams to generate exciting ideas and turning them real. 
        </p>
        <p>
            I have a focus in design strategy, using tools like personas, scenarios, customer journeys, business model and value proposition canvas, etc. to create a product vision. After that, I take the results as an input into delivery where I would write user stories from a customer and experience perspective. I am a Professional Scrum Product Owner and Professional Scrum Master.
        </p>
        <p>
            With my strategic way of thinking and my work experience in product and program management, I bring a mix of design and content-related work with project management and customer service.
        </p>
    </div>
</div>
