<div class="row">
    <div class="seven columns offset-by-two">
        <h3>Universities</h3>
    </div>
</div>

{% for item in site.data.universities %}
<div class="row items {% cycle 'odd', 'even' %} {% if forloop.first == true %} first {% endif %} job_item">
    <div class="two columns">
        <p class="date">{% if item.end-date %} <span>{{ item.start-date }}</span> – <span>{{ item.end-date }}</span> {% else %} since <span>{{ item.start-date }}</span> {% endif %}</p>
    </div>
    <div class="two columns company">
        <p class="company">{% if item.university-url %} <a href="{{item.university-url}}">{{item.university}}</a> {% else %} {{item.university}} {% endif %}</p>
    </div>
    <div class="five columns">
        <p class="job">{{item.title}}</p>

        {% for piece in item.content %}
        <p>{{ piece.text }}</p>
        {% endfor %}

    </div>

    {% if item.tasks %}
    <div class="three columns">
        <p class="project"> Projects </p>
        <ul class="para small">
            {% for piece in item.tasks %}
            <li>{{ piece.task }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endfor %}
