---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>

    {% capture timestamp %}{{ 'now' | date: "%s" }}{% endcapture %}
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="f131ea56-32fa-415d-9859-3ad038da5ab4" data-blockingmode="auto" type="text/javascript"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Martin Gude - Experience Strategist and Product Manager</title>
    <meta name="DC.title" content="Martin Gude - Experience Strategist and Product Manager" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="keywords" content="Martin Gude, User Experience Consultant, Information Architect, Concept Designer">
	<meta name="description" content="My name is Martin Gude. I am an Experience Strategist, Product Manager, and Agile Enthusiast. I help people and teams to generate exciting ideas and turning them real.">

    <!-- CSS -->
    <link rel="stylesheet" href="//fonts.staticsi.de/vollkorn-v8-latin-ext_latin/css/vollkorn.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/screen.css?{{ timestamp  }}" />


    <link rel="stylesheet" href="css/reset.css?{{ timestamp  }}">
    <link rel="stylesheet" type="text/css" media="all" href="/css/skeleton.css?{{ timestamp  }}" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/styles.css?{{ timestamp}}" />
    <link rel="stylesheet" type="text/css" media="print" href="/css/print.css?{{ timestamp }}" />
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="/js/rot13.js"></script>

    <link rel="shortcut icon" href="//martin-gude.com/favicon.png" type="image/png" />
    <link rel="image_src" href="//martin-gude.com/favicon.png" />

    <!-- Fix IE5-7 to behave like IE8 -->
    <!--[if lt IE 8]>
<script src="//ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script>
<![endif]-->

    {% unless site.github.environment == "development" %}
    {%include tracking.html %}
    {% endunless %}

</head>

<body>
  
    <div class="container">
        {%include header.html %}
        {%include profile.html %}

        {{content}}

        {%include footer.html %}
    </div>

    <!-- {{ site.time | date_to_rfc822 }}  -->
</body>

</html>
